body {
  background-color: $main-background-color;
  color: $main-color;
  // height: 100%;
  font-family: $main-font-regular;
  // overflow: hidden;
}

.splash.card {
  border: none;
}

.splash {
  color: $secondary-color;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  transform: scale(1);

  .card-img {
    width: 103%;
    // height: 105%;
    object-fit: cover;
  }

  h1 {
    padding-left: 7.5%; // compensate for the noncentered photo
    font-family: $main-font-title;
    font-size: 10vw;
    // // space between letters
    letter-spacing: 6vw;
  }

  p {
    font-family: $main-font-title;
    font-size: 2vw;
    padding-left: 1.75%; // compensate for the noncentered photo
    // space between letters
    letter-spacing: 0.75vw;
  }

  &__overlay {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(
      to top,
      $main-background-color,
      rgba(0, 0, 0, 0)
    );
  }
}

nav {
  // border: 1px solid red;

  .nav-link {
    color: $main-color;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $main-font-semibold;
    font-size: 1.5rem;

    padding: 0.5rem 1rem;
    transition: color 0.3s;

    &:hover {
      color: $accent-color;
    }
  }
}

.page {
  display: none;

  &.active {
    display: block;
  }
}
