$min-player-width: 280px;
$max-player-width: 500px;
$player-width: clamp($min-player-width, 80vw, $max-player-width);

.song {
  &__wrapper {
    width: fit-content;
  }

  &__title {
    color: $color-light;
  }

  &__player.green-audio-player {
    width: $player-width;
  }
}

.green-audio-player .slider .gap-progress .pin {
  background-color: $color-red;
}

.green-audio-player .slider .gap-progress {
  background-color: $color-red;
}
