.subscribe__wrapper {
  background-image: url('../images/subscribe.jpg');
  @include background-image();

  .subscribe__header {
    position: relative;
    top: 0;
    color: $color-light;
    transform: translate(0, -50%);
    letter-spacing: 0.35em;
    text-align: center;

    .span {
      font-family: $main-font-title;
      font-weight: 900;
    }
  }

  h1 {
    font-family: $main-font-semibold;
    text-transform: uppercase;
    position: relative;
    font-size: 3em;
    top: 0;
  }

  .subscribe__button {
    font-family: $main-font-semibold;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 0.3em;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $color-dark;
      color: $accent-color;
    }
  }

  .subscribe__artist_card {
    height: fit-content;
    // width: 60%;
    display: flex;
    // background-color: alpha($color: #000000);
    font-family: $main-font-regular;

    &__image {
      position: relative;
      left: 0;
      width: 50%;
      height: auto;
    }

    &__artist {
      position: relative;
      color: $color-light;
      left: 0;
      width: 50%;
      top: 50%;

      font-family: $main-font-title;
      font-weight: normal;
      font-size: 3em;
      letter-spacing: 0.35em;

      .name {
        text-align: end;
      }

      .surname {
        position: relative;
        text-align: end;
        // left: 100%;
        transform: translate(0.25em, 0);
        z-index: 1;
      }

      .surname span {
        position: absolute;
        color: $accent-color;
      }
    }

    &__info {
      color: $color-grey;
      font-family: $main-font-title;
      font-size: 1.5em;
      letter-spacing: 0.4em;

      h2 {
        text-transform: uppercase;
      }
    }
  }
}
