.subscribe__wrapper {
  margin-top: 6rem !important;
  background-image: url('../images/subscribe.jpg');
  @include background-image();

  a {
    text-decoration: none;
    color: $color-light;
  }

  .subscribe__header {
    position: relative;
    top: 0;
    transform: translate(0, -50%);
    text-align: center;

    font-size: min(100px, 6vw);
    letter-spacing: 20px;
    line-height: 27px;
    color: $color-light;
    font-weight: $font-semibold;
    font-family: $main-font-family;

    // media q
    @media (max-width: 400px) {
      div:before {
        content: '';
        margin-left: -100%;
      }
      div:after {
        content: '';
        margin-right: -100%;
      }
    }

    span {
      font-weight: $font-extrabold;
    }
  }

  h1 {
    font-family: $main-font-semibold;
    text-transform: uppercase;
    position: relative;
    font-size: 3em;
    top: 0;
  }

  .subscribe__button {
    font-family: $main-font-semibold;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 0.3em;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $color-dark;
      color: $accent-color;
    }
  }

  .subscribe__artist_card {
    height: fit-content;
    // width: 60%;
    display: flex;
    // background-color: alpha($color: #000000);
    font-family: $main-font-regular;

    &__image {
      position: relative;
      left: 0;
      width: 50%;
      height: auto;
    }

    &__artist {
      position: relative;
      left: 0;
      width: 50%;
      top: 50%;
      min-height: min-content;

      font-family: $main-font-title;
      // font-size: 3em;
      // letter-spacing: 0.35em;

      font-size: min(100px, 6vw);
      letter-spacing: min(20px, 0.6vw);
      // line-height: 27px;
      color: $color-light;
      font-weight: $font-extrabold;

      .name {
        text-align: end;
      }

      .surname {
        position: relative;
        text-align: end;
        // left: 100%;
        transform: translate(0.25em, 0);
        z-index: 1;
      }

      .surname span {
        position: absolute;
        color: $accent-color;
      }
    }

    &__info {
      color: $color-grey;
      font-family: $main-font-title;
      font-size: 1.5em;
      letter-spacing: 0.4em;

      h2 {
        text-transform: uppercase;
      }
    }
  }
}
