// Fonts
$main-font-family: 'Source Sans Pro', sans-serif;
$main-font-regular: 'Source Sans Pro Regular', sans-serif;
$main-font-title: 'Source Sans Pro Black', sans-serif;
$main-font-semibold: 'Source Sans Pro Semibold', sans-serif;
$main-font-bold: 'Source Sans Pro Bold', sans-serif;

$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 900;

// Colors
$accent-color: #cf383e;
$main-color: #bfbfbf;
$secondary-color: #fff;
$main-background-color: #131313;

// ponurrak color
$color-main: #cf383e;
$color-dark: #131313;
$color-grey: #bfbfbf;
$color-light: #fff;
