// Fonts
$main-font-regular: 'Source Sans Pro Regular', sans-serif;
$main-font-title: 'Source Sans Pro Black', sans-serif;
$main-font-semibold: 'Source Sans Pro Semibold', sans-serif;
$main-font-bold: 'Source Sans Pro Bold', sans-serif;

// Colors
$accent-color: #cf383e;
$main-color: #bfbfbf;
$secondary-color: #fff;
$main-background-color: #131313;

// ponurrak color
$color-main: #cf383e;
$color-dark: #131313;
$color-light: #fff;

// refactored fonts
$main-font-family: 'Source Sans Pro', sans-serif;

// refactored font weights
$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 900;

//refactored font sizes
// $default-font-size: 25px;
// $default-letter-spacing: 8px;

// refactored colors
$color-red: #cf383e;
$color-black: #131313;
$color-grey: #bfbfbf;
$color-white: #fff;
